
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  backdrop-filter: blur(10px);
}
.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 95%;
  max-width: 500px;
  height: 85%;
  max-height: 700px;
  background: white;
  border-radius: 10px;
  text-align: center;
  z-index: 10002;
  opacity: 0;
  box-sizing: border-box;
}
.popup-container h3 {
  background: linear-gradient(to right, #65defc, #938aff);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #fff;
}
.popinfo {
  position: absolute;
  top: 67px;
  bottom: 65px;
  left: 20px;
  right: 20px;
  background: rgb(238, 238, 238);
  border-radius: 10px;
  overflow-y: scroll;
  padding: 10px;
}
.popinfo * {
  text-align: left;
  padding: auto;
  margin: auto;
}

.popup-container.open {
  display: block;
  animation: popupOpen 0.3s forwards;
}
.btnpopa {
  display: flex;
  gap: 10px;
  justify-content: center;
  position: absolute;
  bottom: 13px;
  width: 100%;
}
.btnpopa button {
  background: linear-gradient(to right, #65defc, #938aff);
  padding: 10px;
  width: 140px;
  color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 0 3px gray;
  transition: all 0.3s;
}
.btnpopa button:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}
.btnpopa button:active {
  transform: scale(0.95);
  transition: all 0.3s;
}
.btnpopa button:disabled {
  background: gray;
  transform: none;
  transition: all 0.3s;
}
.popup-container.closing {
  animation: popupClose 0.3s forwards;
}
.offline-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 300px;
  background: white;
  border: 3px solid red;
  padding: 20px;
  text-align: center;
  z-index: 10003;
  opacity: 0;
}
.offline-popup.open {
  display: block;
  animation: popupOpen 0.3s forwards;
}
.offline-popup.closing {
  animation: popupClose 0.3s forwards;
}
@keyframes popupOpen {
  from {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
@keyframes popupClose {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}

hr {
  border: none;
  border-top: 2px solid gray;
  margin: auto;
}
.hr {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}