@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Potta+One&display=swap');
* {
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: 'Noto sans JP' , serif;
    font-weight: 500;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}

body {
    margin-top: 85px;
    color: #333;
    background: #f1f1f133;
}

#header * {
    margin: 0;
    padding: 0;
}
#header {
    background: linear-gradient(to right, #65defc, #938aff);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    box-shadow: 0 0 3px gray;
    z-index: 1005;
}
#header h1 {
    font-size: 23px;
    font-weight: 900;
}


.card {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.card h3 {
    background: linear-gradient(to right, #65defc, #938aff);
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
    font-weight: 900;
    box-shadow: 0 0 3px gray;
}
input , select , textarea {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    margin-top: 8px;
    margin-bottom: 10px;
    transition: all 0.3s;
    height: 45px;
}
input:hover , select:hover , textarea:hover {
    border: #73a1ff 2px solid;
    transition: all 0.3s;
}
input:focus , select:focus , textarea:focus {
    border: #73a1ff 2px solid;
    background: #65defc08;
    transition: all 0.3s;
}

textarea {
    height: 100px;
    resize: vertical;
}
.font {
    color: #ae0000;
    font-weight: 400;
    font-size: 13px;
    margin: 0;
    padding: 0;
    padding: 5px 0;
}
.infod {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 20px;
}



canvas {
    border: 2px solid gray;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}
.btn {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    box-sizing: border-box;
    padding: 20px;
}
.btn button {
    width: 100%;
    background: linear-gradient(to right, #65defc, #938aff);
    border-radius: 10px;
    padding: 20px 0;
    border: 2px solid #333;
    color: #fff;
    transition: all 0.3s;
}
.btn button:disabled {
    background: gray;
    color: #333;
    transition: all 0.3s;
}
.btn button:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}
.btn button:active {
    transform: scale(0.95);
    transition: all 0.3s;
}
.bold-text {
    font-weight: bold;
}


.info {
    padding: 20px;
    box-sizing: border-box;
}
.info * {
    margin: 0;
}
.can {
    max-width: 500px;
    box-sizing: border-box;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}



.menulist {
    position: fixed;
    top: 65px;
    padding: 5px;
    display: flex;
    gap: 5px;
    left: 0;
    right: 0;
    box-sizing: border-box;
    backdrop-filter: blur(1px);
    background: #ffffff80;
    justify-content: end;
    z-index: 1000;
}
.menu {
    background: #333;
    width: 60px;
    height: 30px;
    border: #000 1px solid;
    border-radius: 100px;
    box-sizing: border-box;
    transition: all 0.3s;
}
.menu:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}
.menu:active {
    transform: scale(0.95);
    transition: all 0.3s;
}
.menu1 {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 8px 1px;
}
.menu div {
    width: 30px;
    height: 2px;
    background: #fff;
}

.btninfopop button {
    width: 100%;
    margin: 3px 0;
    padding: 10px;
    background: #fff;
    border: 2px solid gray;
    border-radius: 10px;
    transition: all 0.3s;
}
.btninfopop button:hover {
    transform: scale(1.02);
    transition: all 0.3s;
}
.btninfopop button:active {
    transform: scale(0.98);
    opacity: 0.5;
    transition: all 0.3s;
}
.btninfopop button:disabled {
    background: gray;
    transform: none;
    transition: all 0.3s;
    opacity: 1;
}