@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Hachi+Maru+Pop&family=IBM+Plex+Sans+JP&family=Kaisei+Decol&family=Kiwi+Maru&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Potta+One&family=Zen+Maru+Gothic&display=swap');
* {
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: 'Noto sans JP' , serif;
    font-weight: 500;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}

body {
    margin-top: 85px;
    margin-bottom: 20px;
    color: #333;
    background: #f1f1f133;
}

#header * {
    margin: 0;
    padding: 0;
}
#header {
    background: linear-gradient(to right, #65defc, #938aff);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    box-shadow: 0 0 3px gray;
    z-index: 1005;
}
#header h1 {
    font-size: 23px;
    font-weight: 900;
}


.card {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.card h3 {
    background: linear-gradient(to right, #65defc, #938aff);
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
    font-weight: 900;
    box-shadow: 0 0 3px gray;
}
input , select , textarea {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    margin-top: 8px;
    margin-bottom: 10px;
    transition: all 0.3s;
    height: 45px;
}
input:hover , select:hover , textarea:hover {
    border: #73a1ff 2px solid;
    transition: all 0.3s;
}
input:focus , select:focus , textarea:focus {
    border: #73a1ff 2px solid;
    background: #65defc08;
    transition: all 0.3s;
}

textarea {
    height: 100px;
    resize: vertical;
}
.font {
    color: #ae0000;
    font-weight: 400;
    font-size: 13px;
    margin: 0;
    padding: 0;
    padding: 5px 0;
}
.infod {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 20px;
}

#textd {
    background: #ae0000;
    padding: 10px;
    border-radius: 10px;
}
#textd p {
    color: #fff;
}
#infonet {
    margin: 0;
    padding: 0;
    padding: 0 4px;
    color: #ae0000;
    background: #fff;
    margin: 0 4px;
    border-radius: 5px;
}
h4 {
    background: linear-gradient(to right, #65defc, #938aff);
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    box-sizing: border-box;
}
.faq span {
    color: #73a1ff;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}
#faqspan {
    background: #73a1ff;
    color: #fff;
    padding: 0 4px;
}



canvas {
    border: 2px solid gray;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 10px;
}
.btn {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    box-sizing: border-box;
    padding: 20px;
}
.btn button {
    width: 100%;
    background: linear-gradient(to right, #65defc, #938aff);
    border-radius: 10px;
    padding: 20px 10px;
    border: 2px solid #333;
    color: #fff;
    transition: all 0.3s;
}
.btn button:disabled {
    background: gray;
    color: #333;
    transition: all 0.3s;
}
.btn button:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}
.btn button:active {
    transform: scale(0.95);
    transition: all 0.3s;
}
.bold-text {
    font-weight: bold;
}


.info {
    padding: 20px;
    box-sizing: border-box;
}
.info * {
    margin: 0;
}
.can {
    max-width: 500px;
    box-sizing: border-box;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}



.menulist {
    position: fixed;
    top: 65px;
    padding: 5px;
    padding-right: 10px;
    display: flex;
    gap: 5px;
    left: 0;
    right: 0;
    box-sizing: border-box;
    backdrop-filter: blur(1px);
    background: #ffffffa6;
    justify-content: end;
    z-index: 1000;
}
.menu {
    background: #333;
    width: 50px;
    height: 40px;
    border: #000 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.3s;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu img {
    height: 60%;
}
.menu:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}
.menu:active {
    transform: scale(0.95);
    transition: all 0.3s;
}
.menu1 {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 8px 1px;
}
.menu div {
    width: 30px;
    height: 2px;
    background: #fff;
}

.btninfopop button {
    width: 100%;
    margin: 3px 0;
    padding: 10px;
    background: #fff;
    border: 2px solid gray;
    border-radius: 10px;
    transition: all 0.3s;
}
.btninfopop button:hover {
    transform: scale(1.02);
    transition: all 0.3s;
}
.btninfopop button:active {
    transform: scale(0.98);
    opacity: 0.5;
    transition: all 0.3s;
}
.btninfopop button:disabled {
    background: gray;
    transform: none;
    transition: all 0.3s;
    opacity: 1;
}

.fontp p {
    background: #fff;
    padding: 10px;
    margin: 4px 0;
    border-radius: 5px;
    border: 1px solid rgb(205, 205, 205);
}
.shares button {
    border: 2px solid #333;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    transition: all 0.3s;
}
.shares button:hover {
    transform: scale(1.02);
    transition: all 0.3s;
}
.shares button:active {
    transform: scale(0.98);
    transition: all 0.3s;
    opacity: 0.5;
}
.share1 {
    background: #fff;
}
.xp {
    background: #333;
    color: #fff;
}
#remode {
    position: absolute;
    left: 10px;
    width: 150px;
}

a {
    color: #73a1ff;
}

footer {
    background: #333;
    padding: 20px;
    position: relative;
    top: 30px;
    color: #fff;
    font-size: 10px;
    display: flex;
}
.infos , .copy {
    width: 100%;
}
.infos {
    display: flex;
    justify-content: right;
    align-items: center;
}
.infos span {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
}
.popb1 p {
    padding-left: 30px;
    text-align: left;
}
.popb1 button {
    display: ruby;
    align-items: center;
}
.popb1 img {
    height: 20px;
    position: absolute;
}

#out {
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-top: 5px;
}
.out {
    width: 10px;
    position: relative;
    left: 5px;
    margin-right: 20px;
}
.out1 {
    padding-left: 8px;
}

#modec , #mode p {
    height: 50px;
    background: linear-gradient(to right, #f39800, #ffb027);
    display: flex;
    align-items: center;
    font-family: 'Noto sans JP', sans-serif;
    color: #fff;
    font-weight: 900;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#modec img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 0 3px gray;
}

/* カスタムセレクト */
.original-select {
  display: none;
}

.custom-select-wrapper {
  position: relative;
}

.custom-select {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    margin-top: 8px;
    margin-bottom: 10px;
    transition: all 0.3s;
    height: 45px;
    background: #fff;
}
.custom-select:hover {
    border: #73a1ff 2px solid;
    transition: all 0.3s;
}
.custom-select:active ,.custom-select:focus {
    border: #73a1ff 2px solid;
    background: #65defc08;
    transition: all 0.3s;
}

.selected-option {
  display: block;
  display: flex;
  align-items: center;
}
.selected-option img {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 5px;
}

.options {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  display: none;
  z-index: 1000;
  box-sizing: border-box;
  left: 0;
  top: 45px;
  box-shadow: 0 0 3px gray;
}

.options li {
  padding: 10px;
  cursor: pointer;
}

.options li:hover {
  background-color: #0078d7;
  color: #fff;
}
